html {
    
    box-sizing: border-box;
}

*,
*::before,
*::after {

    box-sizing: inherit;
}

html,
body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {

    background: #ffffff url('/img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height:100vh;
}

h1 {

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {

    width: 660px;
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);    
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    padding: 1.5rem;
}

/* .container h1{
    margin-bottom: 2rem;
    margin-top: 2rem;
} */

.deck .card {

    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    padding: 1rem;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {

    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {

    font-size: 2rem;
}

.deck .card.match {

    cursor: default;
    background: #02ccba;
    font-size: 2rem;
}

.deck .card.disable{

    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {

    text-align: left;
    width: 600px;
    margin-bottom: 0.75rem;   
}

.score-panel .stars {

    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {

    list-style: none;
    display: inline-block;
}

.score-panel .restart {

    float: right;
    cursor: pointer;
}

/* Modal box stylng */

/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {

    background-color: #fefefe;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 1.25rem;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {

    color: #aaa;
    display: block;
    text-align: right;
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {

    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content h3,
  .modal-content h4,
  .modal-content p,
  .modal-content button{

      text-align: center;
      align-items: center;      
  }

  .modal-content button{

      margin: 0 auto;
      display: block;
  }

  /* media query to make card deck more responsive (for screen sizes with max-width or height)*/
  @media screen and (max-width: 700px),(max-height: 700px)
  {     
    .deck {      
      height: 300px;
      width: 300px;      
    }

    .deck .card{
        height: 58px;
        width: 60px;        
    }

    .container h1{
        margin: 1rem 0rem;
        font-size: 2rem;
    }

    .deck .card.show , .deck .card.match{
        font-size: 1rem;
    }

    .score-panel{
        width:300px;
    }

    .modal-content{
        width:90%;
    }
  }
